# Managed by Ansible

Port {{ remote_user__ssh.sshport }}
PubkeyAuthentication {{ 'yes' if remote_user__ssh.pubkey_auth_enabled | bool else 'no' }}
PasswordAuthentication {{ 'yes' if remote_user__ssh.password_auth_enabled | bool else 'no' }}
X11Forwarding {{ 'yes' if remote_user__ssh.x_forward_enabled | bool else 'no' }}
AllowUsers {{ remote_user__admin.user }}
