// Managed by Ansible

Unattended-Upgrade::Origins-Pattern {
{% for origin in unattended_upgrades_configuration__packages.origins %}
    "origin={{ origin.origin }},codename={{ origin.codename}},label={{ origin.label }}";
{% endfor %}
};

Unattended-Upgrade::Package-Blacklist {
{% for package in unattended_upgrades_configuration__packages.blacklist %}
    "{{ package }}";
{% endfor %}
};

Unattended-Upgrade::AutoFixInterruptedDpkg "{{ 'true' if unattended_upgrades_configuration__dpkg.autofix_interrupted else 'false' }}";
Unattended-Upgrade::MinimalSteps "{{ 'true' if unattended_upgrades_configuration__dpkg.minimal_steps else 'false' }}";
Unattended-Upgrade::InstallOnShutdown "{{ 'true' if unattended_upgrades_configuration__dpkg.install_on_shutdown else 'false' }}";

Unattended-Upgrade::Remove-Unused-Kernel-Packages "{{ 'true' if unattended_upgrades_configuration__dpkg.autoremove.kernel else 'false '}}";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ 'true' if unattended_upgrades_configuration__dpkg.autoremove.new_unused else 'false '}}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ 'true' if unattended_upgrades_configuration__dpkg.autoremove.unused else 'false '}}";
Unattended-Upgrade::Allow-downgrade "{{ 'true' if unattended_upgrades_configuration__dpkg.allow_downgrade else 'false '}}";

Unattended-Upgrade::Mail "{{ unattended_upgrades_configuration__report.mail.user }}";
Unattended-Upgrade::Sender "{{ unattended_upgrades_configuration__report.mail.sender }}";
Unattended-Upgrade::MailReport "{{ unattended_upgrades_configuration__report.level }}";
Unattended-Upgrade::Verbose "{{ 'true' if unattended_upgrades_configuration__report.verbose else 'false' }}";
Unattended-Upgrade::Debug "{{ 'true' if unattended_upgrades_configuration__report.debug else 'false' }}";

Unattended-Upgrade::Automatic-Reboot "{{ 'true' if unattended_upgrades_configuration__system.auto_reboot.enabled else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "{{ 'true' if unattended_upgrades_configuration__system.auto_reboot.enabled_withusers else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_upgrades_configuration__system.auto_reboot.time }}";

Unattended-Upgrade::SyslogEnable "{{ 'true' if unattended_upgrades_configuration__system.syslog.enabled else 'false' }}";
Unattended-Upgrade::SyslogFacility "{{ unattended_upgrades_configuration__system.syslog.facility }}";
