# Managed by Ansible

maxretry = {{ ups_configuration__ups.maxretry }}

[{{ ups_configuration__ups.name }}]
    driver = {{ ups_configuration__ups.driver }}
    port = {{ ups_configuration__ups.port }}
