# Managed by Ansible

[{{ ups_configuration__user.username }}]
    password = {{ ups_configuration__user.password }}
    upsmon {{ ups_configuration__upsd.upsmon }}
    actions = {{ ups_configuration__upsd.actions }}
    instcmds = {{ ups_configuration__upsd.instcmds }}
