# Managed by Ansible

MINSUPPLIES {{ ups_configuration__upsmon.minsupplies }}
SHUTDOWNCMD "{{ ups_configuration__upsmon.shutdowncmd }}"
POLLFREQ {{ ups_configuration__upsmon.pollfreq }}
POLLFREQALERT {{ ups_configuration__upsmon.pollfreqalert }}
HOSTSYNC {{ ups_configuration__upsmon.hostsync }}
DEADTIME {{ ups_configuration__upsmon.deadtime }}
POWERDOWNFLAG {{ ups_configuration__upsmon.powerdownflag }}
RBWARNTIME {{ ups_configuration__upsmon.rbwarntime }}
NOCOMMWARNTIME {{ ups_configuration__upsmon.nocommwarntime }}
FINALDELAY {{ ups_configuration__upsmon.finaldelay }}
MONITOR {{ ups_configuration__upsmon.monitor.system }} {{ ups_configuration__upsmon.monitor.powervalue }} {{ ups_configuration__user.username }} {{ ups_configuration__user.password }} {{ ups_configuration__upsmon.monitor.type }}
