# Managed by Ansible

startup={{ '1' if jailmaker_configuration__os.autostart_enabled else '0' }}

gpu_passthrough_intel={{ '1' if jailmaker_configuration__os.gpu_passthrough.intel_enabled else '0' }}
gpu_passthrough_nvidia={{ '1' if jailmaker_configuration__os.gpu_passthrough.nvidia_enabled else '0' }}

seccomp={{ '1' if jailmaker_configuration__os.seccomp_enabled else '0' }}

systemd_nspawn_user_args=--{{ jailmaker_configuration__systemd.nspawn.user_args | join('\n--') | indent(width=4, first=False) }}
{% for mount in jailmaker_configuration__mounts %}
    {{ "--bind='" + mount.source + ":" + mount.destination + "'" | join('\n') }}
{% endfor %}

distro={{ jailmaker_configuration__os.distribution.name }}
release={{ jailmaker_configuration__os.distribution.release }}

systemd_run_default_args=--{{ jailmaker_configuration__systemd.run.default_args | join('\n--') | indent(width=4, first=False) }}

systemd_nspawn_default_args=--{{ jailmaker_configuration__systemd.nspawn.default_args | join('\n--') | indent(width=4, first=False) }}
