Port {{ role_ssh.sshport }}
PubkeyAuthentication {{ role_ssh.enable_pubkey_auth }}
PasswordAuthentication {{ role_ssh.enable_password_auth }}
X11Forwarding {{ role_ssh.enable_x_forward }}
AllowUsers {{ role_admin.user }}
